*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    background-color: rgb(5, 92, 92);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 250px;
}
div a{
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
    font-weight: bold;
}